<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery"></script>
    <script>
      $(document).ready(() => {
        $('#start').click(() => {
          // $('#token').html('json');
          // window.alert('hello');
          $.getJSON('/ranUchiban',(json) => {
            $('#token').html(json);
            // window.alert('ok');
          
          })
        });
      });
    </script>
  </head>
  <body>
    <header><h1><%= title %></h1></header>
    <main>
    <p id="token"><%- contents%></p>
    <input type="button" id="start" value="start">
    </main>
  </body>
</html>
